<div class="generalStatistics">
  <div class="form-group">
      <form class="selectors">
        <div class="select-wrapper">
          <select name="select-category" id="selectYear" class="select">
            <option value={{year}} *ngFor="let year of years">{{year}}</option>
          </select>
        </div>
        <div class="select-wrapper select-wrapperMargin" >
          <select name="select-category" id="selectMonth" class="select">
            <option value={{month}} *ngFor="let month of months">{{month}}</option>
          </select>
        </div>
        <input type="submit" value="Найти" (click)="getValue()" class="submitDataButton">
      </form>
  </div>

  <input type="submit" value="Сформировать квитанцию" (click)="createPdf()" class="generateReceipt" *ngIf="services.length!=0">

  <div *ngIf="services.length==0" class="noData">Данных нет</div>

  <div id="divPie" class="generalStatisticsChart"></div>
  <div id="divPieGeneral" class="generalStatisticsChart generalChart"></div>

  <div class="allService" id="detailsInfo">
    <div class="certainService" *ngFor="let ser of services">
      <div class="certainServiceImg">
        <img src="{{ser.serviceDescription.imgUrl}}">
      </div>
      <div class="certainServiceData">
        <div class="description descriptionTitle">{{ser.title}}</div>
        <div><span class="description">Потреблено за расчетный период: </span>{{ser.consumption}} {{ser.unit}}</div>
        <div><span class="description">Тариф: </span>{{ser.tariff}} руб.</div>
        <div><span class="description">Долг за расчетный период: </span> {{ser.dutyForThisMonth}} руб.</div>
        <div><span class="description">Долг на конец периода: </span> {{ser.generalDutyForService}} руб.</div>
      </div>
    </div>
  </div>

  <div class="meteringDevicesBlock">
    <div class="ipu">Индивидуальные приборы учета</div>
    <div *ngFor="let md of userCertain.meteringDevicesDTOS" class="certainMeteringDevice">
      <div class="meteringDeviceImgLine">
        <div style="display: flex;align-items: center">
          <img src="assets/images/{{md.meteringDevicesType.pathImg}}" class="ipuIMG">
        </div>
        <div class="line"></div>
      </div>
      <div class="meteringDeviceDetails">
        <div><span class="description">Тип: </span> {{md.meteringDevicesType.title}}</div>
        <div><span class="description">Серия: </span> {{md.series}}</div>
        <div><span class="description">Дата установки: </span> {{md.startDate |date:"dd-MM-yyyy"}}</div>
        <div><span class="description">Дата следующей проверки: </span> {{md.checkDate |date:"dd-MM-yyyy"}}</div>
        <div><span class="description">Дата окончания эксплуатации: </span> {{md.endDate |date:"dd-MM-yyyy"}}</div>
      </div>
    </div>
  </div>

</div>

<div id="tableInPdf" class="h">
  <div class="tableInPdfHead">
    <div class="tableInPdfHeadTitle">
      <div class="tableInPdfHeadTitleGeneralInformation">
        <div>Единый платежный документ за жилое помещение</div>
        <div>Коммунальные и прочие платежи за период: {{monthShow()}} {{year}} года</div>
      </div>
      <div class="tableInPdfHeadTitlePayInformation">
        Реквизиты для оплаты: Наименование организации, р/с 0000000 в Наименовании банка к/с 000000
        БИК 00000000 ИНН 00000000 КПП 00000000 ОГРН 00000000 ОКТМО 00000000
      </div>
    </div>
    <div class="tableInPdfHeadMainData">
      <div>
        <div>Ф.И.О.: {{userCertain.userSystemDTO.surname}} {{userCertain.userSystemDTO.name}} {{userCertain.userSystemDTO.patronymic}}</div>
        <div>Адрес: г. {{house.town}} ул. {{house.street}} д. {{house.numberOfHouse}} кв. {{userCertain.numberOfFlat}}</div>
      </div>
      <div class="tableInPdfHeadMainDataResult">
        <div>Лицевой счет: {{userCertain.userSystemDTO.accountNumber}}</div>
        <div>К оплате: {{generalResultWithDuty}} руб.</div>
      </div>
    </div>
  </div>

  <div class="tableInPdfInfoAboutCounterTitle">
    Информация о показаниях индивидуальных приборов учета (ПУ)
  </div>
  <table class="tableInPdfInfoAboutCounter">
    <tr class="tableInPdfInfoAboutCounterHeadLine">
      <td>Вид счетчика</td>
      <td>Номер прибора учета</td>
      <td>Дата очередной государственной проверки ПУ</td>
      <td>Дата установки</td>
      <td>Дата замены</td>
    </tr>
    <tr class="tableInPdfInfoAboutCounterMainLine" *ngFor="let meteringDevice of userCertain.meteringDevicesDTOS">
      <td>{{meteringDevice.meteringDevicesType.title}}</td>
      <td>{{meteringDevice.series}}</td>
      <td>{{meteringDevice.checkDate|date:"yyyy-MM-dd"}}</td>
      <td>{{meteringDevice.startDate|date:"yyyy-MM-dd"}}</td>
      <td>{{meteringDevice.endDate|date:"yyyy-MM-dd"}}</td>
    </tr>
  </table>

  <div class="tableInPdfInfoAboutCounterTitle">
    Информация о расчетах с организациями исполнителями
  </div>
  <table class="tableInPdfInfoAboutCounter">
    <tr class="tableInPdfInfoAboutCounterHeadLine">
      <td rowspan="2">Код организации</td>
      <td rowspan="2">Наименование организации</td>
      <td colspan="2">Долг(+) переплата (-) на начало периода, руб.</td>
      <td colspan="2">Оплачено, руб.</td>
      <td colspan="2">Начисленно за период, руб.</td>
      <td colspan="2">Перерасчет, руб.</td>
      <td colspan="2">Долг(+) переплата (-) на конец периода, руб.</td>
      <td colspan="2">Сумма к оплате, руб.</td>
    </tr>
    <tr class="tableInPdfInfoAboutCounterHeadLine">
      <td>Услуги</td>
      <td>Пенни</td>
      <td>Услуги</td>
      <td>Пенни</td>
      <td>Услуги</td>
      <td>Пенни</td>
      <td>Услуги</td>
      <td>Пенни</td>
      <td>Услуги</td>
      <td>Пенни</td>
      <td>Услуги</td>
      <td>Пенни</td>
    </tr>
    <tr class="tableInPdfInfoAboutCounterMainLine" *ngFor="let ser of services">
      <td>{{ser.codeOfProviderCompany}}</td>
      <td>{{ser.titleOfProviderCompany}}</td>
      <td>{{ser.generalDutyForService-ser.dutyForThisMonth}}</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>{{ser.dutyForThisMonth}}</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>{{ser.generalDutyForService}}</td>
      <td>0</td>
      <td>{{ser.generalDutyForService}}</td>
      <td>0</td>
    </tr>
    <tr class="tableInPdfInfoAboutCounterMainLine result">
      <td colspan="12">
        Итого по услугам
      </td>
      <td colspan="2">{{generalResultWithDuty}}</td>
    </tr>
  </table>

  <div class="tableInPdfInfoAboutCounterTitle">
    Расчет размера платы за расчетный период по услугам
  </div>
  <table class="tableInPdfInfoAboutCounter">
    <tr class="tableInPdfInfoAboutCounterHeadLine">
      <td>Код организации</td>
      <td>Вид услуги</td>
      <td>Единица измерения</td>
      <td>Объем услуги</td>
      <td>Тариф в руб.</td>
      <td>Итого начислено за период, руб.</td>
    </tr>
    <tr class="tableInPdfInfoAboutCounterMainLine" *ngFor="let ser of services">
      <td>{{ser.codeOfProviderCompany}}</td>
      <td>{{ser.serviceDescription.title}}</td>
      <td>{{ser.unit}}</td>
      <td>{{ser.consumption}}</td>
      <td>{{ser.tariff}}</td>
      <td>{{ser.dutyForThisMonth}}</td>
    </tr>
    <tr class="tableInPdfInfoAboutCounterMainLine result">
      <td colspan="5">
        Всего начислено за период по услугам
      </td>
      <td>{{monthResult}}</td>
    </tr>
  </table>

  <div class="tableInPdfInfoAboutCounterTitle">
    Информация об организациях/исполнителях
  </div>
  <table class="tableInPdfInfoAboutCounter">
    <tr class="tableInPdfInfoAboutCounterHeadLine">
      <td>Код организации</td>
      <td>Организация</td>
      <td>Телефон</td>
      <td>Email</td>
      <td>Юр. адресс</td>
      <td>Собственник компании</td>
    </tr>
    <tr class="tableInPdfInfoAboutCounterMainLine" *ngFor="let provider of providersCompany">
      <td>{{provider.id}}</td>
      <td>{{provider.title}}</td>
      <td>{{provider.phone}}</td>
      <td>{{provider.email}}</td>
      <td>{{provider.town}}, {{provider.street}}, {{provider.house}}</td>
      <td>{{provider.surnameOfBoss}} {{provider.nameOfBoss}}, {{provider.patronymicOfBoss}}</td>
    </tr>
  </table>
</div>

