<div class="newVoteDiv">

  <form id="checkBoxWithTheme">
    <div *ngFor="let theme of setTheme">
      <input type="checkbox" id={{theme}} name={{theme}} value={{theme}} (change)="changeTheme()">
      <label for={{theme}}>{{theme}}</label><br>
    </div>
  </form>

  <div class="filterForNewVoteDiv">
    <div class="select-wrapper">
      <select (change)="changeCloseOrOpenVote()" name="select-category" id="selectCloseOrOpenVote" class="select">
        <option value={{closeOrOpenVote}} *ngFor="let closeOrOpenVote of closeOrOpenVoteList">{{closeOrOpenVote}}</option>
      </select>
    </div>
    <div class="select-wrapper select-wrapperMargin">
      <select (change)="changePeriod()" name="select-category" id="selectPeriod" class="select">
        <option value={{chosen}} *ngFor="let chosen of periods">{{chosen}}</option>
      </select>
    </div>
    <div class="select-wrapper select-wrapperMargin" >
      <select (change)="changeCheck()" name="select-category" id="selectCheck" class="select">
        <option value={{check}} *ngFor="let check of checkConfirms">{{check}}</option>
      </select>
    </div>
  </div>

  <div class="certainVote" *ngFor="let vote of votes;index as i" (click)="clickCertainVote($event,i)">
    <div class="headCertainVote">
      <div class="titleAndThemeCertainVote">
        <div class="titleOfCertainVote">{{vote.title}}</div>
        <div class="themeCertainVote">{{vote.theme}}</div>
      </div>
      <div class="datesCertainVote" [ngClass]="{ closeVote: vote.closed }">
        <div class="dateStartOfCertainVote" [ngClass]="{ closeVoteText: !vote.closed }"> Голосование открыто: {{vote.start|date:"dd-MM-yyyy HH:mm"}}</div>
        <div class="dateEndOfCertainVote" [ngClass]="{ closeVoteText: vote.closed }"> Голосование закрыто: {{vote.endOfVoting|date:"dd-MM-yyyy HH:mm"}}</div>
      </div>
    </div>
    <div class="descriptionCertainVote">
      <div class="gradientBlock"></div>
      {{vote.description}}
    </div>
    <div class="imagesCertainVote">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="voteLines">
      <div class="wrappingOfCertainOption" *ngFor="let option of vote.votingOptionSet" (click)="enterCheckOption(i,option.id)">
        <div class="optionDescription">{{option.option}}</div>
        <div class="optionNumberInfo">
          <div class="certainOption" [style.width] ="countPercent(i,option.voteNumber)+'%'">
            <img *ngIf="option.answerCheck" src="assets/images/free-icon-check-mark-5291043.png" class="checkMark">
          </div>
          <div class="percent">{{countPercent(i,option.voteNumber)}}%</div>
        </div>
      </div>
    </div>
    <div class="arrowAndHouse">
      <div class="forWhomCertainVote">
        <div *ngFor="let house of vote.houses" class="certainHouse">#{{house.street}} {{house.numberOfHouse}}</div>
      </div>
      <img src="assets/images/free-icon-up-arrrows-5053186.png" class="upArrow" (click)="closeVote(i)">
    </div>
  </div>
</div>
