.historyOfService{
  width: 70%;
  position: absolute;
  top: 60px;
  left: 20%;
}
.historyOfCertainService{
  display: flex;
  border-left:3px solid rgba(86, 190, 159, 0.71);
  padding: 20px 0px 20px 20px;
  border-radius: 3px;
  background-color: white;
  margin-bottom: 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.historyOfCertainServiceData{
  width: 350px;
}
.receipt{
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  height: 70px;
  border-left:3px solid rgba(86, 190, 159, 0.91);
}
.receipt div{
  width: 50px;
  height: 70px;
  margin-left: 10px;
  display: flex;
  align-items: center
}

.mainBlockHistoryOfService{
  display: flex;
}
.orderDiv{
  padding: 20px;
  margin-left: 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.blockOfServices{
  width: 70%;
}
.historyOfCertainServiceData div{
  padding: 3px;
}
.descriptionOfService{
  display: flex;
  border-radius: 3px;
  background-color: white;
  width: 83%;
  margin-bottom: 10px;
  padding: 8px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.descriptionOfService img{
  width: 30px;
  margin-right: 10px;
}
