<!--<form name="form" #f="ngForm">
  <div>
    <label for="username">Username</label>
    <input id="username" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required />
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
  </div>
  <div>
    <button>Login</button>
  </div>
</form>-->
<div class="loginBlock">
  <div class="loginBlockInputs">
    <div *ngIf="errorLogin.length!=0" class="error">{{errorLogin}}</div>
    <input type="text" placeholder="Логин" id="login" [(ngModel)]="userSystem.email">
    <div *ngIf="errorPassword.length!=0" class="error">{{errorPassword}}</div>
    <input type="password" placeholder="Пароль" id="password" [(ngModel)]="userSystem.password">

    <div *ngIf="errorExist.length!=0" class="error">{{errorExist}}</div>

    <div>
      <button (click)="loginOnServer()" class="loginOnServer">Войти</button>
    </div>
  </div>

</div>
