  <div class="certainVote">
    <div class="headCertainVote">
      <div style="display: flex">
        <div class="titleWithLine">
          <div class="headLine"></div>
          <div class="titleAndThemeCertainVote">
            <div class="titleOfCertainVote">{{vote.title}}</div>
            <div class="themeCertainVote">{{vote.votingThemeDTO.titleOfTheme}}</div>
            <button class="updateVoting" [routerLink]="['updateVoting',vote.id]" *ngxPermissionsExcept="'USER'">Редактировать</button>

          </div>
        </div>

      </div>
      <div class="datesCertainVote" [ngClass]="{ closeVote: checkMode() }">
        <div class="dateStartOfCertainVote" [ngClass]="{ closeVoteText: checkMode() }"> Голосование открыто: {{vote.start|date:"dd-MM-yyyy HH:mm"}}</div>
        <div class="dateEndOfCertainVote" [ngClass]="{ closeVoteText: checkMode() }"> Голосование закрыто: {{vote.endOfVoting|date:"dd-MM-yyyy HH:mm"}}</div>
      </div>
    </div>


    <div class="descriptionCertainVote">
      <div [innerHTML]="vote.description"></div>
    </div>

    <div class="voteLines">
      <div class="wrappingOfCertainOption" *ngFor="let option of vote.votingOptionSet" (click)="enterCheckOption(option.id,vote.id)">
        <div class="optionDescription">{{option.option}}</div>

        <div class="optionNumberInfo">
          <div class="certainOption" [style.width] ="countPercent(option.voteNumber,vote)+'%'">
            <img *ngIf="option.answerCheck" src="assets/images/free-icon-check-mark-5291043.png" class="checkMark">
          </div>
          <div class="percent">{{countPercent(option.voteNumber,vote)}}%</div>
        </div>

        <div class="answersUsers" *ngxPermissionsExcept="'USER'">
          <div class="answered" *ngIf="option.userSystemDTOS.length!=0">Список проголосовавших:</div>
          <div *ngFor="let user of option.userSystemDTOS">
            <div class="certainUserAnswer">{{user.surname}} {{user.name}} {{user.patronymic}}</div>
          </div>
        </div>
      </div>
    </div>

    <span *ngxPermissionsExcept="'USER'">
      <div class="answered" *ngIf="vote.notAnsweredUserSystem.length!=0">Список непроголосовавших:</div>
      <div *ngFor="let user of vote.notAnsweredUserSystem">
        <div class="certainUserAnswer">{{user.surname}} {{user.name}} {{user.patronymic}}</div>
      </div>
    </span>

    <div *ngxPermissionsExcept="'USER'" style="margin-top: 20px;">Проголосовало {{vote.answered}} из {{vote.allMustAnswer}}</div>
    <div class="arrowAndHouse">
      <div class="forWhomCertainVote">
        <div *ngFor="let house of vote.houses" class="certainHouse">#{{house.street}} {{house.numberOfHouse}}</div>
      </div>
    </div>

  </div>
