.publicationFrom{
  margin-bottom: 30px;
}
.titleOfBlock{
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.votingCreate{
  width: 70%;
  position: absolute;
  left: 20%;
  background-color: white;
  padding: 40px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}
editor{
  margin-top: 20px;
}
input[type="text"]{
  margin-top: 20px;
  font-size: 16px;
  width: 96%;
  border-radius: 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 15px;
  transition: 0.4s ease-in-out;
}

input:focus{
  outline: 0;
  border-bottom-color: rgba(86, 190, 159, 0.62);
  transition: 0.3s;
}
.addOptionBlock{
  display: flex;
}
.createVoting{
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(86, 190, 159, 0.58);
  transition: 0.5s ease-in-out;
}

.addOption{
  height: 50%;
  margin-top: auto;
  margin-left: 10px;
  font-size: 14px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(86, 190, 159, 0.34);
  transition: 0.5s ease-in-out;
}
.addOption:hover,.createVoting:hover{
  padding: 10px;
  background-color: rgba(86, 190, 159, 0.49);
  transition: 0.5s ;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  cursor: pointer;
}
.closeDate{
  margin-top: 20px;
}
#closeDateId{
  margin-top: 10px;
}
.error{
  margin-top: 10px;
  color: red;
}


/* *******************
Select
******************* */

.select {
  margin-bottom: 10px;
  /* Растягиваем блок на 100% родительского блока, для правильного размещения кастомной стрелочки */
  width: 400px;
  border-left: none;
  border-right: none;
  border-top: none;
  /* Убираем браузерную стрелку */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* Задаем свой фон и рамку */
  border-radius: 3px 3px 0 0;
  background-color: transparent;
  /* Отступы от рамки к тексту */
  padding: 10px 35px 10px 2px;
  /* Убираем баузерную обводку*/
  outline: none;
  cursor: pointer;
}
.selectors{
  display: flex;
}

/* Убираем стрелочку в IE 10 и 11 */
.select::-ms-expand {
  display: none;
}

/* По клику - убираем обводку и добавляем свою*/
.select:focus {
  outline: none;
}

/* Делаем .select-wrapper родительским элементом для позиционирования "стрелочки" */
.select-wrapper {
  position: relative;
  width: 400px;
}

/* Рисуем стрелочку */
.select-wrapper::before {
  content: "";
  position: absolute;
  top: 42%;
  right: 1px;
  transform: translateY(-50%);
  display: block;
  /* Рисуем треугольник */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10.4px 6px 0 6px;
  border-color: #bebebe transparent transparent transparent;
  /* Снимаем клик с треугольника */
  pointer-events: none;
}
.select-wrapperMargin{
  margin-left: 20px;
}
.select{
  font-size: 15px;
}
.themeOfVoting{
  margin-top: 40px;
}
/*checkbox*/
.checkBoxWithHouses{
  margin-top: 20px;
}
.certainSelect{
  display: flex;
  margin-top: 10px;
}
#checkBoxWithHouses{
  margin-top: 40px;
}
.whomVoting{
  margin-bottom: 10px;
}
/*option*/
.certainOption{
  display: flex;
  margin-top: 10px;
}
.cross{
  margin-left: 10px;
  width: 10px;
  opacity: 0.7;
  transition: 0.2s;
}
.cross:hover{
  cursor: pointer;
  opacity: 1;
}
.allOption{
  margin-top: 20px;
}
