<div class="paymentsDiv">

  <div class="paymentCards">
    <div class="paymentCard" *ngFor="let pay of payments">
      <div class="paymentCardDate">{{pay.date |date:"yyyy-MM-dd HH:mm"}}</div>
      <div class="paymentCardCertain">
        <div>
          <img src="assets/images/ruble.png">
        </div>
        <div class="paymentCertain">
          <div>{{pay.service.serviceDescription.title}}</div>
          <div class="paymentCertainSumma">{{pay.summa}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
