<app-main-menu></app-main-menu>

<!--
<div class="block">
  <div [routerLink]="['joke']" class="block_content">
    <img src="/assets/images/newsIcon.png" alt="News">
    <p>Новости</p>
  </div>
  <div [routerLink]="['map']" class="block_content">
    <img src="/assets/images/housesIcon.png" alt="Houses">
    <p>Дома</p>
  </div>
  <div class="block_content">
    <img src="/assets/images/managmentCompaniesIcon.png" alt="Management companies">
    <p>Управляющие компании</p>
  </div>
</div>
-->
<div class="mainPage">
  <div class="mainDescription">
    <div class="mainDescriptionText">Обеспечивает качественное взаимодействие Управляющих Компаний и жителей</div>
    <div class="mainDescriptionImg">
      <img src="assets/images/mainPage/mainPageImg.png" class="bigMainPageImg">
    </div>
  </div>


  <div class="blockColour">
    <div class="whom">Жителю</div>
    <div class="userBlock">
      <div class="userBlockImg">
        <img src="assets/images/mainPage/singleHouse.png" class="usersImg">
      </div>
      <div class="blockDescription blockDescriptionUser">
        <div class="userBlockDescriptionDivs">
          <div class="userBlockDescriptionDivsInner">
          <div class="point"><img src="assets/images/mainPage/right-arrow.png" class="right-arrow"><div class="pointText">Получайте полную информацию по предоставленным услугам ЖКХ</div></div>
          <div class="point"><img src="assets/images/mainPage/right-arrow.png" class="right-arrow"><div class="pointText">Своевременно устанавливайте связь с Вашей Управляющей Компанией</div></div>
          <div class="point"><img src="assets/images/mainPage/right-arrow.png" class="right-arrow"><div class="pointText">Отслеживайте работу Вашей Управляющей Компанией</div></div>
          <div class="point"><img src="assets/images/mainPage/right-arrow.png" class="right-arrow"><div class="pointText">Получайте новости и обновления связанные с Вашей Управляющей Компанией</div></div>
          <div class="point"><img src="assets/images/mainPage/right-arrow.png" class="right-arrow"><div class="pointText">Учавствуйте в жизни Вашего жилищного хозяйтсва, присоединяйтесь к чатам ваших домов, учавствуйте в голосованиях</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="whom">Управляющей компании</div>
  <div class="userBlock">
    <div class="blockDescription blockDescriptionCompany">
      <div class="userBlockDescriptionDivs">
        <div class="userBlockDescriptionDivsInner">
          <div class="point"><img src="assets/images/mainPage/right-arrow.png" class="right-arrow"><div class="pointText">Получайте отчет по услугам потребляемым, жителями</div></div>
          <div class="point"><img src="assets/images/mainPage/right-arrow.png" class="right-arrow"><div class="pointText">Оповещайте жителей о важных событиях</div></div>
          <div class="point"><img src="assets/images/mainPage/right-arrow.png" class="right-arrow"><div class="pointText">Делитесь новостями по Вашей Управляющей Компании</div></div>
          <div class="point"><img src="assets/images/mainPage/right-arrow.png" class="right-arrow"><div class="pointText">Принимайте заявления от жителей</div></div>
        </div>
      </div>
    </div>
    <div class="userBlockImg">
      <img src="assets/images/mainPage/lens_houses.png" class="usersImg">
    </div>
  </div>

  <div class="footer"></div>
</div>

<!--
<div class="loadImg">
  <div>
    <input accept="image/*" type="file" multiple value="select" (change)="selectFiles($event)" >
  </div>
  <div>
    <button
      [disabled]="!selectedFiles"
      (click)="uploadFiles()">
      Upload
    </button>
  </div>
  <div>
    <img *ngFor='let preview of previews' [src]="preview">
  </div>
</div>

<div class="showImg" style="background-color: cadetblue;height: 500px;width: 500px" >
  <div *ngFor="let imgH of imgOfHouseItself">
    <img [src]="imgH.url">
  </div>
  <p>----------------------------------------</p>
  <div *ngFor="let repairWorkRoof of houseForSend.roofForSend.repairWorkForSend">
    <div *ngFor="let imgBefore of repairWorkRoof.photoBefore">
      <img [src]="imgBefore.url">
    </div>
    <div *ngFor="let imgAfter of repairWorkRoof.photoAfter">
      <img [src]="imgAfter.url">
    </div>
  </div>
  <p>----------------------------------------</p>
  <div *ngFor="let repairWorkBasement of houseForSend.basementForSend.repairWorkForSend">
    <div *ngFor="let imgBefore of repairWorkBasement.photoBefore">
      <img [src]="imgBefore.url">
    </div>
    <div *ngFor="let imgAfter of repairWorkBasement.photoAfter">
      <img [src]="imgAfter.url">
    </div>
  </div>
  <p>----------------------------------------</p>
  <div *ngFor="let entrance of houseForSend.entranceForSend">
    <div *ngFor="let itself of entrance.photoOfEntrance">
      <img [src]="itself.url">
    </div>
    <div *ngFor="let repairWork of entrance.repairWorkForSend">
      <div *ngFor="let imgBefore of repairWork.photoBefore">
        <img [src]="imgBefore.url">
      </div>
      <div *ngFor="let imgAfter of repairWork.photoAfter">
        <img [src]="imgAfter.url">
      </div>
    </div>
  </div>
</div>
-->

