.statisticsChart{
  width: 100%;
  height: 300px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);

  /*position: absolute;
  top: 20%;
  left: 30%;
  background-color: white;*/
}
.charts{
  width: 58%;
  position: absolute;
  left: 20%;
}
.statisticsData{
  display: flex;
  margin-top: 3px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

}
.statisticsData div{
  margin-right: 20px;
}
.statisticsDataMember{
 padding: 15px;

}
.statisticsDataMemberInner{
  display: flex;
  flex-direction: column;
  border-left: 4px solid rgba(86, 190, 159, 0.55);
}
.statisticsDataMemberInner span{
  margin-left: 5px;
}
.valueOfConsumption{
  font-size: 20px;
}
.monthOfConsumption{
  font-size: 13px;
}

/*Услуги*/
.allService{
  padding: 20px 50px;
  background-color: white;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.certainService{
  display: flex;
  margin-top: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.49);
}
.certainServiceMonth{
  width: 150px;
  font-size: 23px;
  font-weight: 400;
  color: #56be9f;
  margin-top: auto;
  margin-bottom: auto;
}
.certainServiceMonth div{
  text-align: center;
}
.certainServiceData{
  margin-left: 10px;
  border-left: 5px solid rgba(86, 190, 159, 0.44);
  padding-left: 15px;
  margin-bottom: 10px;
}
.certainServiceMonthDivFirst{
  letter-spacing: 5px;
}
.check{
  font-weight: 500;
  margin-top: 10px;
}
.notCheck{
  color: #56b0cc;
}
.allServiceDetails{
  text-align: center;
  margin-bottom: 30px;
  font-size: 19px;
}


/* *******************
Select
******************* */

.select {
  margin-bottom: 10px;
  /* Растягиваем блок на 100% родительского блока, для правильного размещения кастомной стрелочки */
  width: 200px;
  border-left: none;
  border-right: none;
  border-top: none;
  /* Убираем браузерную стрелку */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* Задаем свой фон и рамку */
  /*border: 1px solid #7E9BBD;*/
  border-radius: 3px 3px 0px 0px;
  background-color: transparent;
  /* Отступы от рамки к тексту */
  padding: 10px 35px 10px 2px;
  /* Убираем баузерную обводку*/
  outline: none;
  cursor: pointer;
}
.selectors{
  display: flex;
}

/* Убираем стрелочку в IE 10 и 11 */
.select::-ms-expand {
  display: none;
}

/* По клику - убираем обводку и добавляем свою*/
.select:focus {
  outline: none;
}

/* Делаем .select-wrapper родительским элементом для позиционирования "стрелочки" */
.select-wrapper {
  position: relative;
  width: 200px;
}

/* Рисуем стрелочку */
.select-wrapper::before {
  content: "";

  position: absolute;
  top: 42%;
  right: 1px;
  transform: translateY(-50%);

  display: block;

  /* Рисуем треугольник */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10.4px 6px 0 6px;
  border-color: #bebebe transparent transparent transparent;

  /* Снимаем клик с треугольника */
  pointer-events: none;
}
.select-wrapperMargin{
  margin-left: 20px;
}
.submitDataButton{
  margin-left: 10px;
}
.submitDataButton, .generateReceipt{
  border: none;
  padding: 8px;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
  margin-bottom: 9px;
}
.submitDataButton{
  background-color: rgba(48, 225, 125, 0.16);
}
.submitDataButton:hover, .generateReceipt:hover{
  padding: 10px;
  transition: 0.5s ;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}
.submitDataButton:hover{
  background-color: rgba(48, 225, 125, 0.42);
}
.hideCheck{
  display: none;
  margin-bottom: 5px;
  font-size: 14px;
  background-color: white;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 195px;
  padding: 5px 5px 20px 0;
  border-left: 1px solid rgba(0, 0, 0, 0.47);
  /*border: 1px solid black;*/
}
.check-wrapper{
  width: 163px;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  padding: 10px 35px 10px 2px;
  cursor: pointer;
}

.checkBoxAndSelector{
  display: flex;
}
