<div class="wrapRequest">
  <div class=""><span>Заявка</span></div>
  <div class="addressForRequest">
    <div><input type="text" placeholder="Название"></div>
    <div><input type="text" placeholder="Город"></div>
    <div><input type="text" placeholder="Улица"></div>
    <div><input type="text" placeholder="Дом"></div>
    <div><input type="text" placeholder="Квартира"></div>
  </div>
  <div class="photoForRequest">
    <input class="photoForRequestInput" type="file">
  </div>
  <div class="typeOfRequest">Тип обращения</div>
  <div class="commentaryForRequest">
    <textarea placeholder="Комментарий"></textarea>
  </div>
  <div class="publicPrivateRequest">
    <span>Опубликовать заявку</span>
  </div>

</div>
