<app-main-menu></app-main-menu>
<div class="infoForMC">
  <div class="headForRegistration">Для регистрации компании в нашей информационной системе</div>
  <div class="step">1</div>
  <div class="stepDescription">Пройдите регистрацию перейдя по ссылке ниже.</div>
  <div style="display: flex;justify-content: center">
    <button class="registrationHead" [routerLink]="['addHead']">Зарегистрироваться</button>
  </div>
  <div class="line"></div>
  <div class="step">2</div>
  <div class="stepDescription">Далее зарегистрируйте Ваши Управляющие компании в информационной системе под вашей учетной записью.</div>
</div>
<div class="footer"></div>

