.debtsDiv{
  width: 55%;
  position: absolute;
  left: 20%;
}
.receipt:hover{
  cursor: pointer;
}
.headDebtsDiv{
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-color: white;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin-bottom: 20px;
  padding: 20px;
}
.cardForMonthDebt{
  display: flex;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin-bottom: 5px;
  border-left:3px solid rgba(86, 190, 159, 0.71);

}

.generalDebtDescription{
  display: flex;
  flex-direction: column;
}
.generalDebtDescription div{
  margin-left: auto;
  margin-right: auto;
}
.generalDebtDescription img{
  width: 60px;
}
.payDiv{
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
}
.payDiv{
  margin-top: 30px;
}
.payDiv button{
  margin-left: 10px;
  width: 100%;
}
.receipt{
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  border-left:3px solid rgba(86, 190, 159, 0.91);
}
.receipt div{
  width: 50px;
  height: 40px;
  margin-left: 10px;
  display: flex;
  align-items: center
}
.cardForMonthDebtMainBlock{
  width: 400px;
}
.generalDebtSum{
  display: flex;
  font-weight: 300;
  width: 600px;
}
.generalDebtSum div{
  margin-top: auto;
  margin-bottom: auto;
}
.submitDataButton{
  border: none;
  padding: 5px;
  border-radius: 4px;
  background-color: rgba(48, 225, 125, 0.16);
  transition: 0.5s ease-in-out;
}
.submitDataButton:hover{
  padding: 6px;
  background-color: rgba(48, 225, 125, 0.42);
  transition: 0.5s ;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}
.cardForMonthDebtMainBlockDate{
  font-size: 17px;
  text-transform: uppercase;
}
.cardForMonthDebtMainBlockDubt{
  font-weight: 300;
}
.generalDebtDescriptionTitle{
  margin-bottom: auto;
  margin-top: auto;
  font-size: 20px;
}
.generalDebtSumNumber{
  font-size: 20px;
  margin-left: 10px;

}

/*TABLE*/
.h{
  position: absolute;
  right: 100%;
  padding: 20px;
}
table{
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 10px;
  font-size: 12px;
}
.tableInPdfInfoAboutCounterHeadLine{
  font-weight: bold;
}
.tableInPdfInfoAboutCounterHeadLine td{
  border: 1px solid black;
  text-align: center;
}
.tableInPdfInfoAboutCounterMainLine td{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px dashed black;
  text-align: center;
}

.tableInPdfInfoAboutCounter :last-child {
  border-bottom: 1px solid black;
}
.tableInPdfInfoAboutCounterTitle{
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
}
.result{
  font-weight: bold;
}
.tableInPdfHeadTitle div{
  text-align: center;
}
.tableInPdfHead{
  margin-bottom: 40px;
}
.tableInPdfHeadMainData{
  display: flex;
}
.tableInPdfHeadMainDataResult{
  margin-left: 40px;
}
.tableInPdfHeadTitle{
  font-size: 15px;
  margin-bottom: 10px;
}
.tableInPdfHeadTitleGeneralInformation{
  font-weight: bold;
}

.generateReceipt{
  width: 100%;
}
.generateReceipt button{
  width: 100%;
}

/*квитанция*/
.receiptMember{
  transition: 0.2s;
}
.receiptMember:hover{
  color: #56BE9F;
}

.noData{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  border-radius: 3px;
  background-color: white;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

