<div class="newsCreate">
  <div class="headOfPagePublication">
    <div class="publicationFrom">
      Публикация от: {{news.managementCompanyDTO.title}} {{news.dateOfPublication|date:"dd-MM-yyyy HH:mm"}}
    </div>
  </div>
  <div class="titleOfNews">
    <input type="text" placeholder="Название" id="nameOfNews"  [(ngModel)]="news.header">
    <div *ngIf="errorHeader.length!=0" class="errorHeader">{{errorHeader}}</div>
    <div *ngIf="errorContent.length!=0" class="errorContent">{{errorContent}}</div>

  </div>
  <editor [(ngModel)]="news.content" apiKey=""
          [init]="{ plugins: 'lists link image table code help wordcount' }"
  ></editor>

  <div class="addedTags" *ngIf="chosenTags.length!=0">
    <div *ngFor="let chosenTag of chosenTags; index as i" class="chosenTag">#{{chosenTag.title}}
      <img src="assets/images/free-icon-multiplication-251319.png" class="deleteTag" (click)="deleteTag(i)">
    </div>
  </div>

  <div class="searchTag">
    <div style="display: flex;flex-direction: column;width: 100%">
      <input type="text" placeholder="Тэг" (input)="changeTag()" id="inputTag">
      <div *ngIf="suitableTags.length!=0" class="suitableTagsBlock">
        <div *ngFor="let suitableTag of suitableTags" (click)="chooseTag(suitableTag)" class="suitableTagFocus">{{suitableTag.title}}</div>
      </div>
    </div>
    <button (click)="createNewTag()" class="createNewTag">Новый тэг</button>
  </div>

  <button class="createNewPublication" (click)="sub()">Опубликовать</button>

</div>

