<div class="certainNews">
    <div class="topOfNews">
      <div>
        <div class="headerNews">{{news.header}}</div>
        <div class="author">Автор публикации: {{news.creator.surname}} {{news.creator.name}} {{news.creator.patronymic}}</div>
      </div>
      <div>
        <div class="dateNews">{{news.dateOfPublication|date:"dd-MM-yyyy HH:mm"}}</div>
        <div *ngIf="checkId()||checkRole()">
          <button class="reductionButton" [routerLink]="['reductionNews',news.id]">Редактровать</button>
        </div>
      </div>
    </div>

    <div class="tagsNews" *ngIf="news.tagList.length!=0">
      <div class="tags">Тэги: </div>
      <div class="tag" *ngFor="let tag of news.tagList">{{tag.title}}; </div>
    </div>

    <div class="contentNews" [innerHTML]="news.content"></div>

</div>
